/* <style> */

  #lp-pom-button-395 {
	opacity: 0.65;
  }
  
  #lp-pom-button-398 {
  	opacity: 0.65;
  }
    
  #lp-pom-button-196 {
	letter-spacing: 1.75px;
  	text-transform: uppercase;
  }
  
  #lp-pom-button-197 {
	letter-spacing: 1.75px;
  	text-transform: uppercase;
  }
  
  #lp-pom-button-198 {
	letter-spacing: 1.75px;
  	text-transform: uppercase;
  }
  
  #lp-pom-button-199 {
	letter-spacing: 1.75px;
  	text-transform: uppercase;
  }
  
  #lp-pom-button-200 {
	letter-spacing: 1.75px;
  	text-transform: uppercase;
  }
  
  #lp-pom-button-201 {
	letter-spacing: 1.75px;
  	text-transform: uppercase;
  }

  #lp-pom-button-399 {
	letter-spacing: 1.75px;
  	text-transform: uppercase;
  }
  
  #lp-pom-button-400 {
	letter-spacing: 1.75px;
  	text-transform: uppercase;
  }
  
  #lp-pom-button-401 {
	letter-spacing: 1.75px;
  	text-transform: uppercase;
  }

/* </style> */